<!-- BEGIN ABOUT SECTION -->
<section id="about" class="cont-sec about-sec">
    <div class="cont-b">
        <div class="container">
            <div class="intro">
                <h1 class="fn">Brad Christie</h1>
                <div class="desc">Solution Architect, Sitecore</div>
                <ul class="social-nav">
                    <li><a href="http://facebook.com/bradchristie" class="item-1"></a></li><!-- facebook -->
                    <li><a href="http://twitter.com/bradachristie" class="item-2"></a></li><!-- twitter -->
                    <li><a href="http://plus.google.com/u/0/106574061433049920863" class="item-3"></a></li><!-- google+ -->
                    @*<li><a href="" class="item-4"></a></li><!-- RSS -->*@
                    <li><a href="http://www.linkedin.com/in/bradachristie/" class="item-5"></a></li><!-- linkedin -->
                    @*
                        <li><a href="" class="item-6"></a></li>
                        <li><a href="" class="item-7"></a></li>
                        <li><a href="" class="item-8"></a></li>
                        <li><a href="" class="item-9"></a></li>
                        <li><a href="" class="item-10"></a></li>
                        <li><a href="" class="item-11"></a></li>
                    *@
                </ul>
                <div class="center">
                    @*<a href="#contacts" class="btn-2 btn-scroll">Hire me</a>*@
                    <a href="#contacts" class="btn-2 btn-scroll">Contact Me</a>
                    <a href="~/Content/Resume.pdf" class="btn-2">Download Résumé</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-b-2">
        <div class="container">
            <div class="about clearfix">
                <div class="photo">
                    <img src="~/Template/img/me.jpg" alt="" />
                </div>
                <div class="inner">
                    <p class="intro-text">
                        With over 10 years of development experience, I'm working with most of the newest technologies
                        by applying them to current projects. I have a passion for learning and growing while pushing
                        the proverbial envelope.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT SECTION -->
