<!-- BEGIN RESUME SECTION -->
<section id="resume" class="cont-sec resume-sec">
    <div class="sec-title">
        <div class="container">
            <h2>Resume</h2>
        </div>
    </div>
    <div class="container">
        <div class="cols">
            <div class="col col-1-2">
                <h3>Employment</h3>
                <div class="exp scroll">
                    <div class="date">2014 - present</div>
                    <h4>Sitecore <span>/ Solution Architect</span></h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    
                    <div class="date">2013 - 2014</div>
                    <h4>The Rapid Group, LLC <span>/ Systems Specialst</span></h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    
                    <div class="date">2010 - 2013</div>
                    <h4>NH Rapid Machining, LLC <span>/ Systems Specialst</span></h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    
                    <div class="date">2007 - 2010</div>
                    <h4>Rapid Sheet Metal, LLC <span>/ Systems Specialst</span></h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
            <div class="col col-1-2">
                <h3>Education</h3>
                <div class="exp scroll">
                    <div class="date">July 2014</div>
                    <h4>Sitecore Website.NET Developer</h4>
                    <p>Certified Sitecore developer passing with a score of 95.</p>
                
                    <div class="date">2004 - 2007</div>
                    <h4>New Hampshire Community Technical College</h4>
                    <p>Started with degree in Computer Science (Software) later moving towards Business Management as jobs were outsourced overseas.</p>
                    
                    <div class="date">2000 - 2003</div>
                    <h4>Merrimack High School</h4>
                    <p>Completed courses in Cisco Certified Network Associate (CCNA) prividing me the opportunity to leverage my knowledge in an internship where I helped deploy and setup servers and computer labs).</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="cols">
            <div class="col col-1-2">
                <h3>Skills</h3>
                <div class="skills">
                    <div class="skill">
                        <div class="progress">
                            <h4>
                                Planning -
                                <span class="val">75%</span>
                            </h4>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="progress">
                            <h4>
                                Analysis -
                                <span class="val">90%</span>
                            </h4>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="progress">
                            <h4>
                                Design -
                                <span class="val">100%</span>
                            </h4>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="progress">
                            <h4>
                                Implementation -
                                <span class="val">80%</span>
                            </h4>
                        </div>
                    </div>
                    <div class="skill">
                        <div class="progress">
                            <h4>
                                Maintenence -
                                <span class="val">60%</span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-1-2">
                <h3>I use</h3>
                <ul class="tools clearfix">
                    <li>Sitecore</li>
                    <li>C#</li>
                    <li>.NET v4.5.1</li>
                    <li>ASP.NET</li>
                    <li>WebForms / MVC</li>
                    <li>Entity Framework</li>
                    <li>LINQ</li>
                    <li>ADO.NET</li>
                    <li>Twitter Bootstrap</li>
                    <li>HTML / CSS</li>
                    <li>JavaScript / jQuery</li>
                    <li>SQL Server / MySQL</li>
                    <li>IIS</li>
                    <li>WCF</li>
                    <li>Git / SVN / TFS</li>
                    <li>Owin / Katana</li>
                    <li>OAuth / SSO</li>
                    <li>PHP</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- END RESUME SECTION -->
