<!-- BEGIN TESTIMONIALS SECTION -->
<section id="testimonials" class="cont-sec testimonials-sec">
    <div class="sec-title">
        <div class="container">
            <h2>Testimonials</h2>
        </div>
    </div>
    <div class="container">
        <div class="testimonials">
            <div class="item">
                <div class="author">Peter Ierardi <span>/ Software Evolution, Inc</span></div>
                <div class="inner clearfix">
                    @*<div class="photo">
                            <!-- Place photo here -->
                        </div>*@
                    <blockquote>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </blockquote>
                </div>
            </div>
            <div class="item clearfix">
                <div class="author">Leo Reading <span>/ The Rapid Group</span></div>
                <div class="inner clearfix">
                    <blockquote>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END TESTIMONIALS SECTION -->
